<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta htpp-equiv="X=UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" defer></script>
    <title>Projeto API</title>
</head>
<body>
    <div class="box">
        <h1>Employee create</h1>
        <form action="">
            <input type="text" class="name" name="name" placeholder="name">
            <input type="text" class="department" name="department" placeholder="department">
            <input type="number" class="salary" name="salary" placeholder="salary">
            <button>Create</button>
        </form>
    </div>
</body>
</html>